//background-color
.bckgGreen{ background-color: green; }
.bckgRed{ background-color: red; }
.bckgBlue{ background-color: blue; }
.bckgYellow{ background-color: yellow; }
.bckgBlack{ background-color: black; }
.bckgWhite{ background-color: white; }

.bckgAliceBlue{ background-color: #F0F8FF; }
.bckgAntiqueWhite{ background-color: 	#FAEBD7; }
.bckgAquamarine{ background-color: #7FFFD4; }
.bckgAzure{ background-color: #F0FFFF; }

.bckgBeige{ background-color: #F5F5DC; }
.bckgBisque{ background-color: #FFE4C4; }
.bckgBlanchedalmond{ background-color: #FFEBCD;}
.bckgViolet{ background-color: #8A2BE2; }
.bckgBrown{ background-color: #A52A2A; }
.bckgBurlywood{ background-color: #DEB887; }

.bckgCadetBlue{ background-color: #5F9EA0; }
.bckgChartreuse{ background-color: #7FFF00; }
.bckgChocolate{ background-color: #D2691E; }
.bckgCoral{	background-color: #FF7F50; }
.bckgCornFlowerBlue{ background-color: #6495ED; }
.bckgCornSilk{ background-color:	#FFF8DC; }
.bckgCrimson{ background-color:	#DC143C; }
.bckgCyan{ background-color: 	#00FFFF; }

.bckgDarkBlue{ background-color: #00008B; }
.bckgDarkCyan	{ background-color: #008B8B; }
.bckgDarkGoldenRod{ background-color: #B8860B; }
.bckgDarkGray{ background-color: #A9A9A9; }
.bckgDarkGreen{ background-color: #006400; }
.bckgDarkKhaki{ background-color: #BDB76B; }
.bckgDarkMagenta{ background-color: #8B008B; }
.bckgDarkOliveGreen{ background-color: #556B2F; }
.bckDarkOrange{ background-color: #FF8C00; }
.bckgDarkOrchid{ background-color: #9932CC; }
.bckgDarkRed{ background-color: #8B0000; }
.bckgDarkSalmon{ background-color: #E9967A; }
.bckgDarkSeaGreen{ background-color: #8FBC8F; }
.bckgDarkSlateBlue{ background-color: #483D8B; }
.bckDarkSlateGray	{ background-color: #2F4F4F; }
.bckgDarkTurquoise{ background-color: #00CED1; }
.bckgDarkViolet{ background-color: #9400D3; }
.bckgDeepPink{ background-color: #FF1493; }
.bckgDeepDkyBlue{ background-color: #00BFFF; }
.bckgDimgray{ background-color: #696969; }
.bckgDodgerBlue{ background-color: #1E90FF; }

.bckgFireBrick{ background-color: #B22222; }
.bckgFloralWhite{ background-color: #FFFAF0; }
.bckgForestGreen{ background-color: #228B22; }

.bckgGainsboro{ background-color: #DCDCDC; }
.bckgGhostWhite{ background-color: #F8F8FF; }
.bckgGold{ background-color: #FFD700; }
.bckgGoldenRod{	background-color: #DAA520; }
.bckgGreenYellow{ background-color: #ADFF2F; }
.bckgGrey{ background-color: #808080; }

.bckgHoneyDew{ background-color: #F0FFF0; }
.bckgHotPink{ background-color: #FF69B4; }

.bckgIndianRed{ background-color: #CD5C5C; }
.bckgIndigo{ background-color: #4B0082; }
.bckgIvory{	background-color: #FFFFF0; }

.bckgKhaki{ background-color: #F0E68C; }

.bckgLavender{ background-color: #E6E6FA;
.bckgLavenderBlush{ background-color: #FFF0F5; }
.bckgLawnGreen{ background-color: #7CFC00; }
.bckgLemonChiffon	{ background-color: #FFFACD; }
.bckgLightBlue{ background-color: #ADD8E6; }

.bckgLightCoral{ background-color: #F08080; }
.bckgLighCcyan{ background-color: #E0FFFF; }
.bckgLightGoldenrodYellow{ background-color: #FAFAD2; }
.bckgLightGray { background-color: #D3D3D3; }
.bckgLightGreen	{background-color: #90EE90; }
.bckgLightGrey{ background-color: #D3D3D3; }
.bckgLightpPink{ background-color: #FFB6C1; }
.bckgLightSalmon{ background-color: #FFA07A; }
.bckgLightSeaGreen{ background-color: #20B2AA; }
.bckgLightSkyBlue{ background-color: #87CEFA; }
.bckgLightsLateGray{ background-color: #778899; }
.bckgLightSteelBlue{background-color: #B0C4DE; }
.bckgLightYellow{ background-color: #FFFFE0; }
.bckgLimeGreen{ background-color: #32CD32; }
.bckgLinen{ background-color: #FAF0E6; }

.bckgMagenta{ background-color: #FF00FF; }
.bckgMediumAquamarine{ background-color: #66CDAA; }
.bckMediumBlue{ background-color: #0000CD; }
.bckgMediumOrchid{ background-color: #BA55D3; }
.bckgMediumPurple{ background-color: #9370DB; }
.bckgMediumSeaGreen{ background-color: #3CB371; }
.bckgMediumSlateBlue{ background-color: #7B68EE; }
.bckgMediumSpringGreen{ background-color: #00FA9A; }
.bckgMediumTurquoise{ background-color: #48D1CC; }
.bckgMediumVioletred{ background-color: #C71585; }
.bckgMidnightBlue{ background-color: #191970; }
.bckgMintCream{ background-color: #F5FFFA; }
.bckgMistyRose{ background-color:	#FFE4E1; }
.bckgMoccasin{ background-color: #FFE4B5; }

.bckgNavajoWhite{ background-color: #FFDEAD; }

//oldlace	#FDF5E6
//olivedrab	#6B8E23
//orangered	#FF4500
//orchid	#DA70D6

//palegoldenrod	#EEE8AA
//palegreen	#98FB98
//paleturquoise	#AFEEEE
//palevioletred	#DB7093
//papayawhip	#FFEFD5
//peachpuff	#FFDAB9
//peru	#CD853F
//pink	#FFC0CB
//plum	#DDA0DD
//powderblue	#B0E0E6

//rosybrown	#BC8F8F
//royalblue	#4169E1

//saddlebrown	#8B4513
//salmon	#FA8072
//sandybrown	#F4A460
//seagreen	#2E8B57
//seashell	#FFF5EE
//sienna	#A0522D
//skyblue	#87CEEB
//slateblue	#6A5ACD
//slategray	#708090
//snow	#FFFAFA
//springgreen	#00FF7F
//steelblue	#4682B4

//tan	#D2B48C
//thistle	#D8BFD8
//tomato	#FF6347
//turquoise	#40E0D0

///violet	#EE82EE

//wheat	#F5DEB3
//whitesmoke	#F5F5F5

//yellowgreen	#9ACD32

//http://www.kurshtml.edu.pl/css/wykaz_kolorow_rozszerzonych,kolory.html
