//for resolution 1366x768

//basic style for button
.basicBtn{
  width: 40%; height: 7%; font-weight: bold; font-size: 1.05em; text-shadow: 1px 1px white;
}

//mixin for buttons with btnStyl1, btnStyl1a, btnStyl1b, btnStyl1c, btnStyl2, btnStyl2a, btnStyl2b, btnStyl2c
@mixin btnStyl12{
  width: 20%;
  font-weight: bold;
  color: white;
  padding: 1% 0 1% 0;
  transform: skewX(20deg);
  box-shadow: -1px 1px 0 #606060, -2px 2px 0 #838383,
              -3px 3px 0 #a6a6a6, -4px 4px 0 #ededed;
}

//mixin for buttons with btnStyl3, btnStyl3a, btnStyl3b, btnStyl3c, btnStyl4, btnStyl4a, btnStyl4b, btnStyl4c, btnStyl5, btnStyl5a, btnStyl5b, btnStyl5c
@mixin btnStyl345{
  width: 20%;
  font-weight: bold;
  padding: 1% 0 1% 0;
}

//pierszy styl dla przycisków
.btnStyl1{ @include btnStyl12; background-color: green; }
.btnStyl1a{ @include btnStyl12; background-color: crimson; }
.btnStyl1b{ @include btnStyl12; background-color: blue; }
.btnStyl1c{ @include btnStyl12; background-color: gold; }

 //drugi styl dla przycisków
 .btnStyl2{ @include btnStyl12; background: linear-gradient(white, green); }
 .btnStyl2a{ @include btnStyl12; background: linear-gradient(white, crimson); }
 .btnStyl2b{ @include btnStyl12; background: linear-gradient(white, blue); }
 .btnStyl2c{ @include btnStyl12; background: linear-gradient(white, gold); color: blue; }

 //trzeci styl dla przycisków
 .btnStyl3{ @include btnStyl345; background: linear-gradient(46deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(0,128,0,1) 50%, rgba(0,128,0,1) 100%);
   box-shadow: 1px 1px 0 #606060, 2px 2px 0 #838383, 3px 3px 0 #a6a6a6, 4px 4px 0 #ededed; }

 .btnStyl3a{ @include btnStyl345; background: linear-gradient(46deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, crimson 50%, crimson 100%);
   box-shadow: 1px 1px 0 #606060, 2px 2px 0 #838383, 3px 3px 0 #a6a6a6, 4px 4px 0 #ededed; }

.btnStyl3b{ @include btnStyl345; background: linear-gradient(46deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, blue 50%, blue 100%);
   box-shadow: 1px 1px 0 #606060, 2px 2px 0 #838383, 3px 3px 0 #a6a6a6, 4px 4px 0 #ededed; }

 .btnStyl3c{ @include btnStyl345; background: linear-gradient(46deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, gold 50%, gold 100%);
   color: blue; box-shadow: 1px 1px 0 #606060, 2px 2px 0 #838383, 3px 3px 0 #a6a6a6, 4px 4px 0 #ededed; }

 //czwarty styl dla przycisków
 .btnStyl4{ @include btnStyl345; background: white; }
 .btnStyl4a{ @include btnStyl345; background: white; transform: skewX(20deg); }
 .btnStyl4b{ @include btnStyl345; background: white; border-radius: 15px; }
 .btnStyl4c{ @include btnStyl345; background: white; transform: skewX(-20deg); border-radius: 15px; }


//piąty styl dla przycisków
.btnStyl5{ @include btnStyl345; background: #6495ED; box-shadow: inset 0 0 15px #000000; }
.btnStyl5a{ @include btnStyl345; background: #6495ED; box-shadow: inset 0 4px 10px #000000, inset 0 -4px 10px #FFFFFF; }
.btnStyl5b{ @include btnStyl345; background: #6495ED; box-shadow: inset 0 -3px 5px #000000, inset 0 -5px 10px #FFFFFF; }
.btnStyl5c{ @include btnStyl345; background: #6495ED; box-shadow: inset -3px 0 5px #000000, inset -5px 0 10px #FFFFFF; }

//szósty styl dla przyciskówarning
.panel{
  height: 75px;
  transform: skewX(20deg);
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin btnStyl67{
  width: 50px;
  height: 50px;
  transform: skewX(5deg);
  margin: -5px 0 0 5px;
  border: 1px solid black;
}

.btnStyl6{
  @include btnStyl67;
  border-radius: 50%;
  background-color: green;
  box-shadow: -1px 1px 0 green, -2px 2px 0 green,
              -3px 3px 0 green, -4px 4px 0 green,
              -5px 5px 0 green;
}

.btnStyl6a{
  @include btnStyl67;
  border-radius: 50%;
  background-color: red;
  box-shadow: -1px 1px 0 red, -2px 2px 0 red,
              -3px 3px 0 red, -4px 4px 0 red,
              -5px 5px 0 red;
}

.btnStyl6b{
  @include btnStyl67;
  border-radius: 50%;
  background-color: blue;
  box-shadow: -1px 1px 0 blue, -2px 2px 0 blue,
              -3px 3px 0 blue, -4px 4px 0 blue,
              -5px 5px 0 blue;

}

.btnStyl6c{
  @include btnStyl67;
  border-radius: 50%;
  background-color: gold;
  box-shadow: -1px 1px 0 gold, -2px 2px 0 gold,
              -3px 3px 0 gold, -4px 4px 0 gold,
              -5px 5px 0 gold;
}

.btnStyl7{
  @include btnStyl67;
  background-color: green;
  box-shadow: -1px 1px 0 green, -2px 2px 0 green,
              -3px 3px 0 green, -4px 4px 0 green,
              -5px 5px 0 green;
}

.btnStyl7a{
  @include btnStyl67;
  background-color: red;
  box-shadow: -1px 1px 0 red, -2px 2px 0 red,
              -3px 3px 0 red, -4px 4px 0 red,
              -5px 5px 0 red;
}

.btnStyl7b{
  @include btnStyl67;
  background-color: blue;
  box-shadow: -1px 1px 0 blue, -2px 2px 0 blue,
              -3px 3px 0 blue, -4px 4px 0 blue,
              -5px 5px 0 blue;
}

.btnStyl7c{
  @include btnStyl67;
  background-color: gold;
  box-shadow: -1px 1px 0 gold, -2px 2px 0 gold,
              -3px 3px 0 gold, -4px 4px 0 gold,
              -5px 5px 0 gold;
}

.btnStyl8{
  width: 60px;
  height: 30px;
  background-color: green;
}

.btnStyl8a{
  width: 60px;
  height: 30px;
  background-color: red;
}

.btnStyl8b{
  width: 60px;
  height: 30px;
  background-color: blue;
}

.btnStyl8c{
  width: 60px;
  height: 30px;
  background-color: gold;
}


.borderBtnStyl9{
  width: 60px;
  height: 30px;
  background-color: lightgray;
  padding: 10px 10px;

  button{
    width: 60px;
    height: 30px;
    background-color: green;
    box-shadow: 0 0 5px black;
  }

  button:active{
    box-shadow: inset 0 0 5px black;
    background-color: lightgreen;
  }

  button:focus{
    outline: none;
  }
}

.borderBtnStyl9a{
  width: 60px;
  height: 30px;
  background-color: lightgray;
  padding: 10px 10px;

  button{
    width: 60px;
    height: 30px;
    background-color: green;
    box-shadow: 0 0 7px black;
  }

  button:active{
    animation: animButton 0.25s linear;
    animation-fill-mode: forwards;
  }

  @keyframes animButton {
    0% { box-shadow: 0 0 7px black; }
    50% { box-shadow: 0 0 0 black;}
    100% { box-shadow: inset 0 0 10px 0 black; background-color: lightgreen; }
  }

  button:focus{
    outline: none;
  }
}

.borderBtnStyl9b{
  width: 60px;
  height: 30px;
  background-color: lightgray;
  padding: 10px 10px;
  transform: skewX(20deg);

  button{
    width: 60px;
    height: 30px;
    margin: -5px 0 0 5px;
    background-color: green;
    box-shadow: -1px 1px 0 green, -2px 2px 0 green,
                -3px 3px 0 green, -4px 4px 0 green,
                -5px 5px 0 green;
  }

  button:active{
    animation: anim2Button 0.25s linear;
    animation-fill-mode: forwards;
  }

  @keyframes anim2Button {
    0% { box-shadow: 0 0 7px black; margin: -5px 0 0 5px; box-shadow: -1px 1px 0 lightgreen, -2px 2px 0 lightgreen,
                -3px 3px 0 lightgreen, -4px 4px 0 lightgreen, -5px 5px 0 lightgreen;}
    50% { box-shadow: 0 0 0 black; box-shadow: -1px 1px 0 green, -2px 2px 0 lightgreen; }
    100% { box-shadow: inset 0 0 10px 0 black; background-color: lightgreen; margin: 0 0 0 0 ;}
  }

  button:focus{
    outline: none;
  }
}






.borderBtnStyl9c{
  width: 60px;
  height: 30px;
  background-color: #DDD;
  padding: 10px 10px;
  transform: skewX(20deg);
  border-radius: 7px;
  box-shadow: -1px 1px 0  #BBB, -2px 2px 0 #999,
              -3px 3px 0 #777, -4px 4px 0 #555,
              -5px 5px 0 #333;

  button{
    width: 60px;
    height: 30px;
    margin: -5px 0 0 5px;
    background-color: green;
    border-radius: 7px;
    box-shadow: -1px 1px 0 green, -2px 2px 0 green,
                -3px 3px 0 green, -4px 4px 0 green,
                -5px 5px 0 green;
  }

  button:active{
    animation: anim3Button 0.25s linear;
    animation-fill-mode: forwards;
  }

  @keyframes anim3Button {
    0% { box-shadow: 0 0 7px black; margin: -5px 0 0 5px; box-shadow: -1px 1px 0 lightgreen, -2px 2px 0 lightgreen,
                -3px 3px 0 lightgreen, -4px 4px 0 lightgreen, -5px 5px 0 lightgreen;}
    50% { box-shadow: 0 0 0 black; box-shadow: -1px 1px 0 lightgreen, -2px 2px 0 lightgreen; }
    100% { box-shadow: inset 0 0 10px 0 black; background-color: lightgreen; margin: 0 0 0 0 ;}
  }

  button:focus{
    outline: none;
  }
}




.borderBtnStyl9d{
  width: 50px;
  height: 50px;
  background-color: #DDD;
  padding: 10px 10px;
  transform: skewX(20deg);
  border-radius: 7px;
  box-shadow: -1px 1px 0  #BBB, -2px 2px 0 #999,
              -3px 3px 0 #777, -4px 4px 0 #555,
              -5px 5px 0 #333;

  button{
    width: 40px;
    height: 40px;
    margin: 0 0 0 10px;
    background-color: red;
    border-radius: 50%;
    box-shadow: -1px 1px 0 red, -2px 2px 0 red,
                -3px 3px 0 red, -4px 4px 0 red,
                -5px 5px 0 red;
  }

  button:active{
    animation: anim4Button 0.25s linear;
    animation-fill-mode: forwards;
  }

  @keyframes anim4Button {
    0% { box-shadow: 0 0 7px black; margin: 0 0 0 10px; box-shadow: -1px 1px 0 #ff9090, -2px 2px 0 #ff9090,
                -3px 3px 0 #ff9090, -4px 4px 0 #ff9090, -5px 5px 0 #ff9090; }
    50% { box-shadow: 0 0 0 black; box-shadow: -1px 1px 0 #ff9090, -2px 2px 0 #ff9090; }
    100% { box-shadow: inset 0 0 10px 0 black; background-color: #ff9090; margin: 5px 0 0 5px ;}
  }

  button:focus{
    outline: none;
  }
}



.borderBtnStyl9e{
  width: 60px;
  height: 30px;
  background-color: #ffa578;
  padding: 10px 10px;
  transform: skewX(20deg);
  border-radius: 7px;
  box-shadow: -1px 1px 0  #ff732d, -2px 2px 0 #f05000,
              -3px 3px 0 #c14000, -4px 4px 0 #9a3300,
              -5px 5px 0 #7b2900;

  button{
    width: 60px;
    height: 30px;
    margin: -5px 0 0 5px;
    background-color: #906030;
    border-radius: 7px;
    box-shadow: -1px 1px 0 #906030, -2px 2px 0 #906030,
                -3px 3px 0 #906030, -4px 4px 0 #906030,
                -5px 5px 0 #906030;
  }

  button:active{
    animation: anim5Button 0.25s linear;
    animation-fill-mode: forwards;
  }

  @keyframes anim5Button {
    0% { box-shadow: 0 0 7px black; margin: -5px 0 0 5px; box-shadow: -1px 1px 0 #906030, -2px 2px 0 #906030,
                -3px 3px 0 #906030, -4px 4px 0 #906030, -5px 5px 0 #906030;}
    50% { box-shadow: 0 0 0 black; box-shadow: -1px 1px 0 #906030, -2px 2px 0 #906030; }
    100% { box-shadow: inset 0 0 10px 0 black; background-color: #906030; margin: 0 0 0 0 ;}
  }

  button:focus{
    outline: none;
  }
}




.borderBtnStyl9f{
  width: 60px;
  height: 30px;
  background-color: #ffa578;
  padding: 10px 10px;
  transform: skewX(20deg);
  border-radius: 7px;
  box-shadow: -1px 1px 0  #ff732d, -2px 2px 0 #f05000,
              -3px 3px 0 #c14000, -4px 4px 0 #9a3300,
              -5px 5px 0 #7b2900;

  button{
    width: 60px;
    height: 30px;
    margin: -5px 0 0 5px;
    background-color: #906030;
    border-radius: 40px 5px / 40px 5px;
	background-color: #906030;
    box-shadow: -1px 1px 0 #906030, -2px 2px 0 #906030,
                -3px 3px 0 #906030, -4px 4px 0 #906030,
                -5px 5px 0 #906030;
  }

  button:active{
    animation: anim6Button 0.25s linear;
    animation-fill-mode: forwards;
  }

  @keyframes anim6Button {
    0% { box-shadow: 0 0 7px black; margin: -5px 0 0 5px; box-shadow: -1px 1px 0 #906030, -2px 2px 0 #906030,
                -3px 3px 0 #906030, -4px 4px 0 #906030, -5px 5px 0 #906030;}
    50% { box-shadow: 0 0 0 black; box-shadow: -1px 1px 0 #906030, -2px 2px 0 #906030; }
    100% { box-shadow: inset 0 0 10px 0 black; background-color: #906030; margin: 0 0 0 0 ;}
  }

  button:focus{
    outline: none;
  }
}

 //style po aktywowaniu przycisku stylu .btnStyl1, .btnStyl1a, .btnStyl1b
 .btnStyl1:active, .btnStyl1a:active, .btnStyl1b:active, .btnStyl1c:active, .btnStyl2:active, .btnStyl2a:active, .btnStyl2b:active, .btnStyl2c:active{
   transform: translate(0, 4px) skew(20deg);
   color: black;
 }

  .btnStyl1:active { background-color: lightgreen; }
  .btnStyl1a:active{ background-color: #ff9090; }
  .btnStyl1b:active{ background-color: lightblue; }
  .btnStyl1c:active{ background-color: yellow; }

  .btnStyl2:active{ background: linear-gradient(lightgreen, lightgreen); }
  .btnStyl2a:active{ background: linear-gradient(#ff9090, #ff9090); }
  .btnStyl2b:active{ background: linear-gradient(lightblue, lightblue); }
  .btnStyl2c:active{ background: linear-gradient(yellow, yellow); }

.btnStyl3:active{
  background: linear-gradient(46deg, rgba(0,128,0,1) 0%, rgba(0,128,0,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.btnStyl3a:active{
  background: linear-gradient(46deg, crimson 0%, crimson 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.btnStyl3b:active{
  background: linear-gradient(46deg, blue 0%, blue 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.btnStyl3c:active{
  background: linear-gradient(46deg, gold 0%, gold 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.btnStyl4:hover, .btnStyl4a:hover, .btnStyl4b:hover, .btnStyl4c:hover{
  background-color: #696969;
}

.btnStyl4:active, .btnStyl4a:active, .btnStyl4b:active, .btnStyl4c:active{
  background-color: #778899;
}

.btnStyl5:active{
  box-shadow: 0 0 20px #000000,
              0 0 25px #FFFFFF;
}

.btnStyl5a:active{
  box-shadow: inset 0 -4px 10px #000000,
              inset 0 4px 10px #FFFFFF;
}

.btnStyl5b:active{
  box-shadow: inset 0 3px 5px #000000,
              inset 0 5px 10px #FFFFFF;
}

.btnStyl5c:active{
  box-shadow: inset 3px 0 5px #000000,
              inset 5px 0 10px #FFFFFF;
}

.btnStyl6:active, .btnStyl7:active{
  background-color: lightgreen;
  box-shadow: -1px 1px 0 lightgreen, -2px 2px 0 lightgreen,
              -3px 3px 0 lightgreen;
  margin: 0 0 0 5px;
}

.btnStyl6a:active, .btnStyl7a:active{
  background-color: #ff9999;
  box-shadow: -1px 1px 0 #ff9999, -2px 2px 0 #ff9999,
              -3px 3px 0 #ff9999;
  margin: 0 0 0 5px;
}

.btnStyl6b:active, .btnStyl7b:active{
  background-color: #adb7ff;
  box-shadow: -1px 1px 0 #adb7ff, -2px 2px 0 #adb7ff,
              -3px 3px 0 #adb7ff;
  margin: 0 0 0 5px;
}

.btnStyl6c:active, .btnStyl7c:active{
  background-color: #fff157;
  box-shadow: -1px 1px 0 #fff157, -2px 2px 0 #fff157,
              -3px 3px 0 #fff157;
  margin: 0 0 0 5px;
}

.btnStyl8:active{
  background-color: lightgreen;
  box-shadow: inset 0 0 15px #000;
}

.btnStyl8a:active{
  background-color: #ff9999;
  box-shadow: inset 0 0 15px #000;
}

.btnStyl8b:active{
  background-color: #adb7ff;
  box-shadow: inset 0 0 15px #000;
}

.btnStyl8c:active{
  background-color: #fff157;
  box-shadow: inset 0 0 15px #000;
}

//likwidacja niebieskiego obramowania, gdy wciska się przycisk
.btnStyl1:focus, .btnStyl1a:focus, .btnStyl1b:focus, .btnStyl1c:focus, .btnStyl2:focus, .btnStyl2a:focus, .btnStyl2b:focus, .btnStyl2c:focus, .btnStyl3:focus, .btnStyl3a:focus, .btnStyl3b:focus, .btnStyl3c:focus, .btnStyl4:focus, .btnStyl4a:focus, .btnStyl4b:focus, .btnStyl4c:focus, .btnStyl5:focus, .btnStyl5a:focus,
.btnStyl5b:focus, .btnStyl5c:focus, .btnStyl6:focus, .btnStyl6a:focus, .btnStyl6b:focus, .btnStyl6c:focus, .btnStyl7:focus, .btnStyl7a:focus, .btnStyl7b:focus, .btnStyl7c:focus, .btnStyl8:focus, .btnStyl8a:focus, .btnStyl8b:focus, .btnStyl8c:focus{
 outline: none; }
