//for resolution 1366x768

//basic style for button
.basicBtn{
  width: 40%; height: 7%; font-weight: bold; font-size: 1.05em; text-shadow: 1px 1px white;
}

//pierszy styl dla przycisków
.btnStyl1{
  width: 20%;
  background-color: green;
  font-weight: bold;
  color: white;
  padding: 1% 0 1% 0;
  transform: skewX(20deg);
  box-shadow: -1px 1px 0 #606060, -2px 2px 0 #838383,
              -3px 3px 0 #a6a6a6, -4px 4px 0 #ededed;
}

.btnStyl1a{
  width: 20%;
  background-color: crimson;
  font-weight: bold;
  color: white;
  padding: 1% 0 1% 0;
  transform: skewX(20deg);
  box-shadow: -1px 1px 0 #606060, -2px 2px 0 #838383,
              -3px 3px 0 #a6a6a6, -4px 4px 0 #ededed;
}

.btnStyl1b{
  width: 20%;
  background-color: blue;
  font-weight: bold;
  color: white;
  padding: 1% 0 1% 0;
  transform: skewX(20deg);
  box-shadow: -1px 1px 0 #606060, -2px 2px 0 #838383,
              -3px 3px 0 #a6a6a6, -4px 4px 0 #ededed;
}

.btnStyl1c{
  width: 20%;
  background-color: gold;
  font-weight: bold;
  color: blue;
  padding: 1% 0 1% 0;
  transform: skewX(20deg);
  box-shadow: -1px 1px 0 #606060, -2px 2px 0 #838383,
              -3px 3px 0 #a6a6a6, -4px 4px 0 #ededed;
}

 //drugi styl dla przycisków
 .btnStyl2{
   width: 20%;
   background: linear-gradient(white, green);
   font-weight: bold;
   color: white;
   padding: 1% 0 1% 0;
   transform: skewX(20deg);
   box-shadow: -1px 1px 0 #606060, -2px 2px 0 #838383,
               -3px 3px 0 #a6a6a6, -4px 4px 0 #ededed;
 }

 .btnStyl2a{
   width: 20%;
   background: linear-gradient(white, crimson);
   font-weight: bold;
   color: white;
   padding: 1% 0 1% 0;
   transform: skewX(20deg);
   box-shadow: -1px 1px 0 #606060, -2px 2px 0 #838383,
               -3px 3px 0 #a6a6a6, -4px 4px 0 #ededed;
 }

 .btnStyl2b{
   width: 20%;
   background: linear-gradient(white, blue);
   font-weight: bold;
   color: white;
   padding: 1% 0 1% 0;
   transform: skewX(20deg);
   box-shadow: -1px 1px 0 #606060, -2px 2px 0 #838383,
               -3px 3px 0 #a6a6a6, -4px 4px 0 #ededed;
 }

 .btnStyl2c{
   width: 20%;
   background: linear-gradient(white, gold);
   font-weight: bold;
   color: blue;
   padding: 1% 0 1% 0;
   transform: skewX(20deg);
   box-shadow: -1px 1px 0 #606060, -2px 2px 0 #838383,
               -3px 3px 0 #a6a6a6, -4px 4px 0 #ededed;
 }

 //drugi styl dla przycisków
 .btnStyl3{
   width: 20%;
   background: linear-gradient(46deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(0,128,0,1) 50%, rgba(0,128,0,1) 100%);
   font-weight: bold;
   padding: 1% 0 1% 0;
   box-shadow: 1px 1px 0 #606060, 2px 2px 0 #838383,
               3px 3px 0 #a6a6a6, 4px 4px 0 #ededed;
 }

 .btnStyl3a{
   width: 20%;
   background: linear-gradient(46deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, crimson 50%, crimson 100%);
   font-weight: bold;
   padding: 1% 0 1% 0;
   box-shadow: 1px 1px 0 #606060, 2px 2px 0 #838383,
               3px 3px 0 #a6a6a6, 4px 4px 0 #ededed;
 }

 .btnStyl3b{
   width: 20%;
   background: linear-gradient(46deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, blue 50%, blue 100%);
   font-weight: bold;
   padding: 1% 0 1% 0;
   box-shadow: 1px 1px 0 #606060, 2px 2px 0 #838383,
               3px 3px 0 #a6a6a6, 4px 4px 0 #ededed;
 }

 .btnStyl3c{
   width: 20%;
   background: linear-gradient(46deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, gold 50%, gold 100%);
   font-weight: bold;
   color: blue;
   padding: 1% 0 1% 0;
   box-shadow: 1px 1px 0 #606060, 2px 2px 0 #838383,
               3px 3px 0 #a6a6a6, 4px 4px 0 #ededed;
 }


 //style po aktywowaniu przycisku stylu .btnStyl1, .btnStyl1a, .btnStyl1b
 .btnStyl1:active, .btnStyl1a:active, .btnStyl1b:active, .btnStyl1c:active, .btnStyl2:active, .btnStyl2a:active, .btnStyl2b:active, .btnStyl2c:active{
   transform: translate(0, 4px) skew(20deg);
   color: black;
 }

  .btnStyl1:active { background-color: lightgreen; }
  .btnStyl1a:active{ background-color: #ff9090; }
  .btnStyl1b:active{ background-color: lightblue; }
  .btnStyl1c:active{ background-color: yellow; }

  .btnStyl2:active{ background: linear-gradient(lightgreen, lightgreen); }
  .btnStyl2a:active{ background: linear-gradient(#ff9090, #ff9090); }
  .btnStyl2b:active{ background: linear-gradient(lightblue, lightblue); }
  .btnStyl2c:active{ background: linear-gradient(yellow, yellow); }

.btnStyl3:active{
  background: linear-gradient(46deg, rgba(0,128,0,1) 0%, rgba(0,128,0,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.btnStyl3a:active{
  background: linear-gradient(46deg, crimson 0%, crimson 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.btnStyl3b:active{
  background: linear-gradient(46deg, blue 0%, blue 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}

.btnStyl3c:active{
  background: linear-gradient(46deg, gold 0%, gold 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
}


//likwidacja niebieskiego obramowania, gdy wciska się przycisk
.btnStyl1:focus, .btnStyl1a:focus, .btnStyl1b:focus, .btnStyl1c:focus, .btnStyl2:focus, .btnStyl2a:focus, .btnStyl2b:focus, .btnStyl2c:focus, .btnStyl3:focus, .btnStyl3a:focus, .btnStyl3b:focus, .btnStyl3c:focus{
 outline: none; }
