//font size in em
.fontSize08em{ font-size: 0.8em; }
.fontSize09em{ font-size: 0.9em; }
.fontSize1em{ font-size: 1em; }
.fontSize11em{ font-size: 1.1em; }
.fontSize12em{ font-size: 1.2em; }
.fontSize13em{ font-size: 1.3em; }
