.loading1{
  width: 100%;
  height: 15px;
  border: 1px solid black;
  animation: load1 3s linear;
  animation-fill-mode: forwards;
  text-align: right;
  color: black;
}

@keyframes load1 {
  0% {width: 0%; background-color: white; }
  100% { width: 100%; background-color: black; color: white; }
}




.loading2{
  width: 100%;
  height: 15px;
  animation: load2 3s linear;
  animation-fill-mode: forwards;
  text-align: right;
}

@keyframes load2 {
  0% {width: 0%; background-color: white; }
  100% { width: 100%; background-color: green; }
}



.loading3{
  width: 100%;
  height: 15px;
  animation: load3 3s linear;
  animation-fill-mode: forwards;
  text-align: right;
  background: linear-gradient(white, green);
  color: black;
}

@keyframes load3 {
  0% {width: 0%; }
  100% { width: 100%; }
}



.loading4{
  width: 100%;
  height: 15px;
  animation: load4 3s linear;
  animation-fill-mode: forwards;
  text-align: right;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  transform: skewX(-25deg);
  box-shadow: 2px 2px #666;
}

@keyframes load4 {
  0% {width: 0%; }
  100% { width: 100%; }
}


.loading5{
  width: 100%;
  height: 15px;
  animation: load5 3s linear;
  animation-fill-mode: forwards;
  text-align: right;
  background: linear-gradient(white, green);
  color: black;
  transform: skewX(-25deg);
  box-shadow: 2px 2px #666;
}

@keyframes load5 {
  0% {width: 0%; }
  100% { width: 100%; }
}

.loading6{
		width: 10px;
		height: 10px;
		border-radius: 50%;
		animation: load6 3s linear;
		animation-fill-mode: forwards;
	}

	@keyframes load6 {
	 0%{ background-color: green; }
	 10%{ box-shadow: 10px 0 green, 20px 0 white, 30px 0 white, 40px 0 white, 50px 0 white,
					  60px 0 white, 70px 0 white, 80px 0 white, 90px 0 white, 100px 0 white; }

	 20%{ box-shadow: 10px 0 green, 20px 0 green, 30px 0 white, 40px 0 white, 50px 0 white,
					  60px 0 white, 70px 0 white, 80px 0 white, 90px 0 white, 100px 0 white; }

	 30%{ box-shadow: 10px 0 green, 20px 0 green, 30px 0 green, 40px 0 white, 50px 0 white,
					  60px 0 white, 70px 0 white, 80px 0 white, 90px 0 white, 100px 0 white; }

	 40%{ box-shadow: 10px 0 green, 20px 0 green, 30px 0 green, 40px 0 green, 50px 0 white,
					  60px 0 white, 70px 0 white, 80px 0 white, 90px 0 white, 100px 0 white; }

	 50%{ box-shadow: 10px 0 green, 20px 0 green, 30px 0 green, 40px 0 green, 50px 0 green,
					  60px 0 white, 70px 0 white, 80px 0 white, 90px 0 white, 100px 0 white; }

	 60%{ box-shadow: 10px 0 green, 20px 0 green, 30px 0 green, 40px 0 green, 50px 0 green,
					  60px 0 green, 70px 0 white, 80px 0 white, 90px 0 white, 100px 0 white; }

	 70%{ box-shadow: 10px 0 green, 20px 0 green, 30px 0 green, 40px 0 green, 50px 0 green,
					  60px 0 green, 70px 0 green, 80px 0 white, 90px 0 white, 100px 0 white; }

	 80%{ box-shadow: 10px 0 green, 20px 0 green, 30px 0 green, 40px 0 green, 50px 0 green,
					  60px 0 green, 70px 0 green, 80px 0 green, 90px 0 white, 100px 0 white; }

	 90%{ box-shadow: 10px 0 green, 20px 0 green, 30px 0 green, 40px 0 green, 50px 0 green,
					  60px 0 green, 70px 0 green, 80px 0 green, 90px 0 green, 100px 0 white; }

	 100%{ background-color: green; box-shadow: 10px 0 green, 20px 0 green, 30px 0 green, 40px 0 green, 50px 0 green,
					  60px 0 green, 70px 0 green, 80px 0 green, 90px 0 green, 100px 0 green; }
}



.loading7{
		width: 20px;
		height: 20px;
		border-radius: 50%;
		animation: load7 3s linear;
		animation-fill-mode: forwards;
	}

	@keyframes load7 {
	 0%{ background-color: white; }
	 10%{ box-shadow: 75px 0 white, 150px 0 white, 225px 0 white, 300px 0 white, 160px 0 white,
					  450px 0 white, 525px 0 white, 600px 0 white, 675px 0 white, 750px 0 white; }

	 20%{ box-shadow: 75px 0 #dbead5, 150px 0 #dbead5, 225px 0 white, 300px 0 white, 375px 0 white,
					  450px 0 white, 525px 0 white, 600px 0 white, 675px 0 white, 750px 0 white; }

	 30%{ box-shadow: 75px 0 #b7d5ac, 150px 0 #b7d5ac, 225px 0 #b7d5ac, 300px 0 white, 375px 0 white,
					  450px 0 white, 525px 0 white, 600px 0 white, 675px 0 white, 750px 0 white; }

	 40%{ box-shadow: 75px 0 #93bf85, 150px 0 #93bf85, 225px 0 #93bf85, 300px 0 #93bf85, 375px 0 white,
					  450px 0 white, 525px 0 white, 600px 0 white, 675px 0 white, 750px 0 white; }

	 50%{ box-shadow: 75px 0 #6eaa5e, 150px 0 #6eaa5e, 225px 0 #6eaa5e, 300px 0 #6eaa5e, 375px 0 #6eaa5e,
					  450px 0 white, 525px 0 white, 600px 0 white, 675px 0 white, 750px 0 white; }

	 60%{ box-shadow: 75px 0 #469536, 150px 0 #469536, 225px 0 #469536, 300px 0 #469536, 375px 0 #468536,
					 450px 0 #469536, 525px 0 white, 600px 0 white, 675px 0 white, 750px 0 white; }

	 70%{ box-shadow: 75px 0 #008000, 150px 0 #008000, 225px 0 #008000, 300px 0 #008000, 375px 0 #008000,
					 450px 0 #008000, 525px 0 #008000, 600px 0 white, 675px 0 white, 750px 0 white; }

	 80%{ box-shadow: 75px 0 #0f6a08, 150px 0 #0f6a08, 225px 0 #0f6a08, 300px 0 #0f6a08, 375px 0 #0f6a08,
					  450px 0 #0f6a08, 525px 0 #0f6a08, 600px 0 #0f6a08, 675px 0 white, 750px 0 white; }

	 90%{ box-shadow: 75px 0 #14540d, 150px 0 #14540d, 225px 0 #14540d, 300px 0 #14540d, 375px 0 #14540d,
					  450px 0 #14540d, 525px 0 #14540d, 600px 0 #14540d, 675px 0 #14540d, 750px 0 white; }

	 100%{ background-color: #15400e; box-shadow: 75px 0 #15400e, 150px 0 #15400e, 225px 0 #15400e, 300px 0 #15400e, 375px 0 #15400e,
					  450px 0 #15400e, 525px 0 #15400e, 600px 0 #15400e, 675px 0 #15400e, 750px 0 #15400e; }
}


.loading8{
		width: 0;
		height: 20px;
		transform: skewX(-40deg);
		animation: load8 3s linear;
		animation-fill-mode: forwards;
	}
	
@keyframes load8{
	0%{ background-color: red; box-shadow: 0 0 10px 5px red;}
	100%{ width: 100%; background-color: green; box-shadow: 0 0 10px 5px green;}
}

.loading9{
		width: 0;
		height: 20px;
		transform: skewX(40deg);
		animation: load9 3s linear;
		animation-fill-mode: forwards;
	}
	
@keyframes load9{
	0%{ background-color: red; box-shadow: 0 0 10px 5px red;}
	100%{ width: 100%; background-color: green; box-shadow: 0 0 10px 5px green; transform: skewX(-40deg);}
}
	
.loading10{
	p:first-child{
	width: 0;
		height: 10px;
		transform: skewX(40deg);
		animation: load10 3s linear;
		animation-fill-mode: forwards;
	}
	p:last-child{
	width: 0;
		height: 10px;
		transform: skewX(-40deg);
		animation: load10 3s linear;
		animation-fill-mode: forwards;
	}
	}
	
@keyframes load10{
	0%{ background-color: red; box-shadow: 0 0 10px 5px red;}
	100%{ width: 100%; background-color: green; box-shadow: 0 0 10px 5px green;}
}

.loading10{
	p{
		width: 0;
		height: 10px;
		animation: load10 3s linear;
		animation-fill-mode: forwards;
	}
	p:first-child{
		transform: skewX(40deg);
	}
	p:last-child{
		transform: skewX(-40deg);
	}
}
	
@keyframes load10{
	0%{ background-color: red; box-shadow: 0 0 10px 5px red;}
	100%{ width: 100%; background-color: green; box-shadow: 0 0 10px 5px green;}
}

.loading11{
	p{
		width: 0;
		height: 6px;
		animation: load11 3s linear;
		animation-fill-mode: forwards;
	}
	p:first-child{
		transform: skewX(40deg);
		border-left: 2px solid black;
		border-top: 2px solid black;
		border-right: 2px solid black;
	}
	p:last-child{
		transform: skewX(-40deg);
		border-left: 2px solid black;
		border-bottom: 2px solid black;
		border-right: 2px solid black;
	}
}
	
@keyframes load11{
	0%{ background-color: red; }
	100%{ width: 100%; background-color: green; }
}

