//margin-top in percent
.marginTop1{ margin-top: 1%; }
.marginTop2{ margin-top: 2%; }
.marginTop3{ margin-top: 3%; }
.marginTop4{ margin-top: 4%; }
.marginTop5{ margin-top: 5%; }
.marginTop10{ margin-top: 10%; }
.marginTop15{ margin-top: 15%; }

//margin-top in vh
.marginTop4vh{ margin-top: 4vh; }
