//margin-left in percent
.margins0003p{ margin: 0 0 0 3%; }
.margins0004p{ margin-left: 4%; }
.margins0005p{ margin-left: 5%; }
.margins0006p{ margin-left: 6%; }
.margins0007p{ margin-left: 7%; }
.margins0008p{ margin-left: 8%; }
.margins000_10p{ margin-left: 10%; }
.margins000_15p{ margin-left: 15%; }
.margins000_25p{ margin-left: 25%; }
.margins000_50p{ margin-left: 50%; }
.margins000_75p{ margin-left: 75%; }
.margins000_90p{ margin-left: 90%; }
.margins000_100p{ margin-left: 100%; }

//margin-top in percent
.margins1000p{ margin-top: 1%; }
.margins2000p{ margin-top: 2%; }
.margins3000p{ margin-top: 3%; }
.margins4000p{ margin-top: 4%; }
.margins5000p{ margin-top: 5%; }
.margins6000p{ margin-top: 6%; }
.margins7000p{ margin-top: 7%; }
.margins8000p{ margin-top: 8%; }
.margins9000p{ margin-top: 9%; }
.margins10_000p{ margin-top: 10%; }
.margins15_000p{ margin-top: 15%; }

//margin-top in vh
.marginTop4vh{ margin-top: 4vh; }
