//margin-left in percent
.marginLeft3{ margin-left: 3%; }
.marginLeft4{ margin-left: 4%; }
.marginLeft5{ margin-left: 5%; }
.marginLeft10{ margin-left: 10%; }
.marginLeft15{ margin-left: 15%; }
.marginLeft25{ margin-left: 25%; }
.marginLeft50{ margin-left: 50%; }
.marginLeft75{ margin-left: 75%; }
.marginLeft100{ margin-left: 90%; }
.marginLeft100{ margin-left: 100%; }
