//margin-left in percent
.marginLeft3{ margin-left: 3%; }
.marginLeft4{ margin-left: 4%; }
.marginLeft5{ margin-left: 5%; }
.marginLeft10{ margin-left: 10%; }
.marginLeft15{ margin-left: 15%; }
.marginLeft25{ margin-left: 25%; }
.marginLeft50{ margin-left: 50%; }
.marginLeft75{ margin-left: 75%; }
.marginLeft100{ margin-left: 90%; }
.marginLeft100{ margin-left: 100%; }


//margin-top in percent
.marginTop1{ margin-top: 1%; }
.marginTop2{ margin-top: 2%; }
.marginTop3{ margin-top: 3%; }
.marginTop4{ margin-top: 4%; }
.marginTop5{ margin-top: 5%; }
.marginTop10{ margin-top: 10%; }
.marginTop15{ margin-top: 15%; }

//margin-top in vh
.marginTop4vh{ margin-top: 4vh; }
