//centering the text
.centerText{ text-align: center; }

//bold text
.boldText{ font-weight: bold; }

//normal text
.normalText{ font-weight: normal; }

//italics
.italic { font-style: italic; }

//flexing
.flex{
  display: flex;
  justify-content: center;
}
