//text colors
.textGreen{ color: green; }
.textRed{ color: red; }
.textBlue{ color: blue; }
.textYellow{ color: yellow; }
.textBlack{ color: black; }
.textWhite{ color: white; }
.textGold{ color: gold; }
.textNavy{ color: navy; }

.textAliceBlue{ color: #F0F8FF; }
.textAntiqueWhite{ color: 	#FAEBD7; }
.textAquamarine{ color: #7FFFD4; }
.textAzure{ color: #F0FFFF; }

.textBeige{ color: #F5F5DC; }
.textBisque{ color: #FFE4C4; }
.textBlanchedalmond{ color: #FFEBCD;}
.textViolet{ color: #8A2BE2; }
.textBrown{ color: #A52A2A; }
.textBurlywood{ color: #DEB887; }

.textCadetBlue{ color: #5F9EA0; }
.textChartreuse{ color: #7FFF00; }
.textChocolate{ color: #D2691E; }
.textCoral{ color: #FF7F50; }
.textCornFlowerBlue{ color: #6495ED; }
.textCornSilk{ color:	#FFF8DC; }
.textCrimson{ color:	#DC143C; }
.textCyan{ color: 	#00FFFF; }

.textDarkBlue{ color: #00008B; }
.textDarkCyan	{ color: #008B8B; }
.textDarkGoldenRod{ color: #B8860B; }
.textDarkGray{ color: #A9A9A9; }
.textDarkGreen{ color: #006400; }
.textDarkKhaki{ color: #BDB76B; }
.textDarkMagenta{ color: #8B008B; }
.textDarkOliveGreen{ color: #556B2F; }
.textDarkOrange{ color: #FF8C00; }
.textDarkOrchid{ color: #9932CC; }
.textDarkRed{ color: #8B0000; }
.textDarkSalmon{ color: #E9967A; }
.textDarkSeaGreen{ color: #8FBC8F; }
.textDarkSlateBlue{ color: #483D8B; }
.textDarkSlateGray	{ color: #2F4F4F; }
.textDarkTurquoise{ color: #00CED1; }
.textDarkViolet{ color: #9400D3; }
.textDeepPink{ color: #FF1493; }
.textDeepDkyBlue{ color: #00BFFF; }
.textDimgray{ color: #696969; }
.textDodgerBlue{ color: #1E90FF; }

.textFireBrick{ color: #B22222; }
.textFloralWhite{ color: #FFFAF0; }
.textForestGreen{ color: #228B22; }

.textGainsboro{ color: #DCDCDC; }
.textGhostWhite{ color: #F8F8FF; }
.textGold{ color: #FFD700; }
.textGoldenRod{	color: #DAA520; }
.textGreenYellow{ color: #ADFF2F; }
.textGrey{ color: #808080; }

.textHoneyDew{ color: #F0FFF0; }
.textHotPink{ color: #FF69B4; }

.textIndianRed{ color: #CD5C5C; }
.textIndigo{ color: #4B0082; }
.textIvory{	color: #FFFFF0; }

.textKhaki{ color: #F0E68C; }

.textLavender{ color: #E6E6FA; }
.texLavenderBlush{ color: #FFF0F5; }
.textLawnGreen{ color: #7CFC00; }
.textLemonChiffon	{ color: #FFFACD; }
.textLightBlue{ color: #ADD8E6; }
.textLightCoral{ color: #F08080; }
.textLighCyan{ color: #E0FFFF; }
.textLightGoldenrodYellow{ color: #FAFAD2; }
.textLightGray { color: #D3D3D3; }
.textLightGreen	{ color: #90EE90; }
.textLightGrey{ color: #D3D3D3; }
.textLightpPink{ color: #FFB6C1; }
.textLightSalmon{ color: #FFA07A; }
.textLightSeaGreen{ color: #20B2AA; }
.textLightSkyBlue{ color: #87CEFA; }
.textLightsLateGray{ color: #778899; }
.textLightSteelBlue{ color: #B0C4DE; }
.textLightYellow{ color: #FFFFE0; }
.textLimeGreen{ color: #32CD32; }
.textLinen{ color: #FAF0E6; }

.textMagenta{ color: #FF00FF; }
.textMediumAquamarine{ color: #66CDAA; }
.textMediumBlue{ color: #0000CD; }
.textMediumOrchid{ color: #BA55D3; }
.textMediumPurple{ color: #9370DB; }
.textMediumSeaGreen{ color: #3CB371; }
.textMediumSlateBlue{ color: #7B68EE; }
.textMediumSpringGreen{ color: #00FA9A; }
.textMediumTurquoise{ color: #48D1CC; }
.textMediumVioletred{ color: #C71585; }
.textMidnightBlue{ color: #191970; }
.textMintCream{ color: #F5FFFA; }
.textMistyRose{ color:	#FFE4E1; }
.textMoccasin{ color: #FFE4B5; }

.textNavajoWhite{ color: #FFDEAD; }

.textOldLace{ color: #FDF5E6; }
.textOliveDrab{ color: #6B8E23; }
.textOrangeRed{ color: #FF4500; }
.textOrchid{ color: #DA70D6; }

.textPaleGoldenRod{ color: #EEE8AA; }
.textPaleGreen{ color: #98FB98; }
.textPaleTurquoise{ color: #AFEEEE; }
.textPaleVioletRed{ color: #DB7093; }
.textPapayaWhip{ color: #FFEFD5; }
.textPeachPuff{ color: #FFDAB9; }
.textPeru{ color: #CD853F; }
.textPink{ color: #FFC0CB; }
.textPlum{ color: #DDA0DD; }
.textPowderBlue{ color: #B0E0E6; }

.textRosyBrown{ color: #BC8F8F; }
.textRoyalBlue{ color: #4169E1; }

.textSaddleBrown{ color: #8B4513; }
.textSalmon{ color: #FA8072; }
.textSandyBrown{ color: #F4A460; }
.textSeaGreen{ color: #2E8B57; }
.textSeaShell{ color: #FFF5EE; }
.textSienna{ color: #A0522D; }
.textSkyBlue{ color: #87CEEB; }
.textSlateBlue{ color: #6A5ACD; }
.textSlateGray{ color: #708090; }
.textSnow{ color: #FFFAFA; }
.textSpringGreen{ color: #00FF7F; }
.textSteelBlue{ color: #4682B4; }

.textTan{ color: #D2B48C; }
.textThistle{ color: #D8BFD8; }
.textTomato{ color: #FF6347; }
.textTurquoise{ color: #40E0D0; }

.textViolet{ color: #EE82EE; }

.textWheat{ color: #F5DEB3; }
.textWhiteSmoke{ color: #F5F5F5; }

.textYellowGreen{ color: #9ACD32; }

//http://www.kurshtml.edu.pl/css/wykaz_kolorow_rozszerzonych,kolory.html
