//width in percent
.width15p{ width: 15%; }
.width20p{ width: 20%; }
.width24p{ width: 24%; }
.width33p{ width: 33%; }
.width49p{ width: 49%; }
.width50p{ width: 50%; }
.width66p{ width: 66%; }
.width75p{ width: 75%; }
.width90p{ width: 90%; }
.width100p{ width: 100%; }
