//width in percent
.width15{ width: 15%; }
.width20{ width: 20%; }
.width24{ width: 24%; }
.width33{ width: 33%; }
.width49{ width: 49%; }
.width50{ width: 50%; }
.width66{ width: 66%; }
.width75{ width: 75%; }
.width90{ width: 90%; }
.width100{ width: 100%; }
